<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CSSTest/src/it/sp4te/CooperativeSpectrumSensing/Main/SpectrumSensingTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.sp4te.CooperativeSpectrumSensing.Main.SpectrumSensingTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CSSTest"/>
</launchConfiguration>
