body {
    background-color:#3366FF ;

} 
#header {
    border: 5px solid transparent;
    padding: 5px;
   
}

#container{
     padding-top: 20px;;

     margin: 0 auto;
}


#footer {
    border: 5px solid transparent;
    padding: 1px;
    }
h1 {
    color:white;
    font-family:verdana;
    
}

p {
    color:white;
    font-family:verdana;
    
}


